# Node dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build output
dist/
build/
.cache/

# Render deploy files (if any)
render.yaml
